<app-container-el [itemTemplate]="innerTemplate" [containerData]="data" ></app-container-el>


<ng-template #innerTemplate let-slideData>
  <div *ngIf="slideData.data.type === graphTypes.BASETABLE" >
    <div>{{slideData.title}}</div>
    <div>{{slideData.data.name}}</div>
    <div>{{slideData.data.description}}</div>
  </div>
  <div *ngIf="slideData.data.type === graphTypes.MULTIPLEROWS" >
    <div>{{slideData.title}}</div>
    <div>{{slideData.data.name}}</div>
    <div>{{slideData.data.description}}</div>
  </div>
</ng-template>
