<div>container!</div>
<nav>
    <ol>
        <li class="navitem" *ngFor="let slide of containerData.nav.month.slides; let i = index">
            <button (click)="setSlide(i)" >{{slide.title}}</button>
        </li>
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: containerData.nav.month.slides[currentSlide]}">
        </ng-container>
    </ol>
</nav>
